<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Evaluate a News Article with Natural Language Processing</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Slabo+27px&display=swap" rel="stylesheet">
</head>

<body>
    <div class="container">
        <!-- Header -->
        <header class="header">
            <h1 class="header__title">Evaluate a News Article with Natural Language Processing</h1>
            <p class="header__paragraph">Enter a URL to any English website to analyze the sentiment of the page</p>
        </header>
        <!-- MAIN SECTION -->
        <main>
            <section class="form">
                <form class="form__details">
                    <label class="form__label" for="url">Enter url</label>
                    <input id="url" type="url" class="form__url-input" placeholder="url">
                </form>
                <div class="form__buttons">
                    <button class="btn-submit">Analyze</button>
                    <button class="btn-reset">RESET</button>
                </div>
            </section>

            <section class="result">
                <h2 class="result__title">RESULT :</h2>
                <ul class="result__list">
                    <li class="result__item result__item--agreement">Agreement:</li>
                    <li class="result__item result__item--confidence">Confidence:</li>
                    <li class="result__item result__item--irony">Irony:</li>
                    <li class="result__item result__item--subjectivity">Subjectivity:</li>
                    <li class="result__item result__item--score">Score:</li>
                </ul>
                <h3 class="result__warning"></h3>
            </section>

        </main>
    </div>
    <!-- FOOTER -->
    <footer class="footer">
        <p class="footer__paragraph">
            &copy2021 Coded by
            <a href="https://github.com/CarolinaFledgling" class="footer__link">Karolina Kulinska</a>
        </p>
    </footer>
</body>

</html>