.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;

}

button {
    display: block;
    cursor: pointer;
    border: none;
    outline: none;
    text-decoration: none;
    font-family: inherit;
    text-decoration: none;
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}


li {
    display: block;
}