header {
    width: 800px;
    text-align: center;

    &__title {  // why doesn`t work my &?? 
        margin: 2rem 0;
        color:green;
    }

    &__paragraph {
        margin: 1rem 0;
        color: hotpink;
    }
}

.header__title {
    margin: 2rem 0;
}

.header__paragraph {
    margin: 1rem 0;
}