// Colors

$sunglow: #FFCB1F;
$black:#363635;
$blue:#3F7CAC;
$white:#FBFCFF;

// Typogrphy colors

$primary-text-color:#363635;

// Basic reset

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

html {
    font-family: 'Slabo 27px', serif;
    font-size: 18px;
    color: $primary-text-color;
}

h1 {
    font-size: 2rem;
}


